* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
}

#todo,
#done {
  padding: 15px 25px;
  background-color: #fafafa;
  border-radius: 10px;
}

#todo ul,
#done ul {
  margin: 0;
  padding: 0; /*reset bootstrap auto left pad*/
}

#todo li,
#done li {
  list-style: none;
  padding: 15px;
  border: 2px solid #eee;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  /* transition-duration: 1s; */
}

input[type="checkbox"]:checked {
  content: url("./assets/flaticon-checkbox.png");
  border: none;
}

li:hover {
  background-color: #eee;
}

li label {
  margin: 0 40px;
}

#addTaskBtn {
  padding-left: 20px;
}
